window {
    background-color: rgba(26, 27, 38, 0.9);
    color: #c0caf5;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

.module {
    padding: 0 8px;
    margin: 2px;
    background: #24283b;
    border-radius: 4px;
}

#workspaces button.active {
    background: #7aa2f7;
    color: #1a1b26;
}
